$off-white: #FFFFFF
$light-grey: #D9D9D9
$azul: #2195D2
$dark-blue: #07436F
$mid-grey: #919191
$dark-grey: #5C5C5C

html
  font-family: Palatino
  background-color: $dark-blue
  a
    text-decoration: none

.collapsed
  display: none

.fa.fa-plus-circle:hover
  cursor: pointer

h2, h2 a:visited, h3, h3 a:visited
  color: black

h1,
  font-size: 2.5em
  color: $off-white

.clear-fix
  clear: both

section#accounts
  padding: 10px
  background-color: $azul
  border-radius: 8px
  .account
    float: left
    border-radius: 8px 8px 0 0
    padding: 6px 20px 8px 8px
    background-color: $mid-grey
    padding-right: 20px
    border-left: 3px solid $azul
    border-right: 3px solid $azul

  #accounts-list
    .selected
      .account
        background-color: $off-white
    div:first-of-type .account
      border-left: none

#transactions
  .editable:hover, .budget-items
    cursor: pointer
  .transaction
    padding: 8px 6px
  div
    .transaction
      div
        display: inline-block
      .clearance-date
        width: 10%
      .description
        width: 14%
        input
          width: 100%
      .amount
        width: 8%
        text-align: right
        input
          text-align: right
      .budget-items
        margin: 0 10px
        width: 12%
      .budget-items-select
        width: 12%
        width: 18%
      i.fa
        color: $dark-grey
      button.submit
        outline: none
        box-shadow: none
        display: inline-block
        cursor: pointer
        color: $off-white
        font-weight: 100
        font-size: 0.9em
        padding: 4px 18px
        border-radius: 8px
        border: 2px solid $mid-grey
        background-color: $mid-grey
      button.submit:focus
        border: 2px solid $dark-grey
  div:first-of-type .transaction
    padding-top: 25px
    border-top-right-radius: 18px
  div:last-of-type .transaction
    border-bottom-right-radius: 18px
    border-bottom-left-radius: 18px
  div .transaction
    background-color: $off-white
  div:nth-of-type(2n) .transaction
    background-color: $light-grey
  .fa.fa-plus-circle
    font-size: 0.8em
  .fa.fa-circle-o, .fa.fa-caret-right
    font-size: 0.6em
