<script type='text/template' id='budget-sidebar'>
  <h2>Budget</h2>
  <hr/>
  <h4>Add a new item for this month</h4>
  <div class='select-box-wrapper'>
    <input id='budget-items' name='budget-items' placeholder='search for budget items'/>
    <nav>
      <div class='tab' data-monthly='f'>Weekly</div><div class='tab' data-monthly='t'>Monthly</div>
    </nav>
  </div>
  <div id='item-results'>
    <div id='item-list-add-item' style='display: none'>
      <span class='add-term clickable'></span>
    </div>
  </div>
  <div id='item-list-hidden'></div>
  <hr>
</script>
