<script type='text/template' id='budget-amount-template'>
  <div class='budget-amount'>
    <div class='left-side'>
      <div class='left-icon'><i class='fa fa-caret-right' aria-hidden=true></i></div>
      <div class='name'>
        <i class='<%= icon %>' style='color: #666' /> <%= name %>
      </div>
    </div>
    <div class='right-side'>
      <div class='label'></div>
      <div class='amount editable' data-name='amount' data-value='<%= parseFloat(remaining).toFixed(2) %>'>
        <% if(remaining != 0) { %>
          <span>$<%= parseFloat(amount).toFixed(2).replace('-', '') %></span>
        <% } else { %>
          <span class='strikethru'>$<%= parseFloat(amount).toFixed(2).replace('-', '') %></span>
        <% } %>
      </div>
      <% if(deletable) { %>
        <span><i class='fa fa-trash'></i></span>
      <% } %>
    </div>
  </div>
</script>
