<script type='text/template' id='discretionary-template'>
  <div class='budget-amount'>
    <div class='left-side'>
      <div class='left-icon'><i class='fa fa-caret-right' aria-hidden=true></i></div>
      <div class='name'><%= name %></div>
    </div>

    <div class='right-side'>
      <div class='budgeted'>
        <div class='label small-text'>Budgeted:</div>
        <div class='amount' data-name='amount' data-value='<%= parseFloat(amount).toFixed(2) %>'>
          $<%= parseFloat(amount).toFixed(2) %>
        </div>
      </div>
      <div class='spent'>
        <div class='label small-text'>
          <% if(over_under_budget < 0) { %>
            Over Budget:
          <% } else { %>
            Under Budget:
          <% } %>
        </div>
        <div class='amount small-text'>
          $<%= parseFloat(over_under_budget).toFixed(2) %>
        </div>
      </div>
      <div class='spent'>
        <div class='label small-text '>
          <% if(parseFloat(spent) < 0) { %>
            Spent:
          <% } else { %>
            Deposited:
          <% } %>
        </div>
        <div class='amount small-text underlined' data-spent=<%= parseFloat(spent) %>>
          $<%= parseFloat(spent).toFixed(2) %>
        </div>
      </div>
      <div class='remaining'>
        <div class='label small-text'><span class='hidden'>Remaining:</span></div>
        <div class='amount' data-remaining=<%= remaining %>>
          $<%= parseFloat(remaining).toFixed(2) %>
        </div>
      </div>
    </div>
    <div class='detail hidden'>
      <hr/>
      <div class='label'>
        Budgeted Per Day:
      </div>
      <div class='amount'>$<%= parseFloat(Math.abs(budgeted_per_day)).toFixed(2) %></div>
      <br>
      <div class='label'>
        Remaining Per Day:
      </div>
      <div class='amount'>$<%= parseFloat(Math.abs(remaining_per_day)).toFixed(2) %></div>
      <br>
      <div class='label'>
        Remaining Per Week:
      </div>
      <div class='amount'>$<%= parseFloat(Math.abs(remaining_per_week)).toFixed(2) %></div>
    </div>
    <div class='transactions hidden'>
      <div class='budget-amount-transaction'>
        <hr/>
        <div class='clearance-date'>Date</div>
        <div class='account-name'>Account</div>
        <div class='description'>Description</div>
        <div class='amount'>Amount</div>
        <hr/>
      </div>
    </div>
  </div>
</script>
