<script type='text/template' id='extra-options-template'>
  <div class='extra-options'>
    <div class='extra-fields'>
      <div>
        <label>Check #</label>
        <input class= 'update-check-number' name='check_number' type='text' value='<%= check_number %>'></input>
      </div>
      <div>
        <label>Notes</label>
        <textarea name='notes'><%= notes %></textarea>
      </div>
      <div class='budget-exclusion'>
        <label>Budget Exclusion</label>
        <input type='checkbox' name='budget_exclusion' <%= budget_exclusion ? "checked" : "" %> value='true'/>
      </div>
    </div>
  </div>
  <i class='fa fa-save update-save'></i>
  <i class='fa fa-times update-cancel'></i>
</script>
