<script type='text/template' id='subtransaction-form-template'>
  <div class='transaction subtransaction-form'>
    <div class='clearance-date'></div>
    <div class='left-icon'><i class='fa fa-times-circle' aria-hidden='true'></i></div>
    <div class='description'><input type='text' name='description' placeholder='description'/></div>
    <div class='amount'><input type='text' name='amount' placeholder='$1.23'/></div>
    <div class='amount'></div>
    <div class='budget-items-select'>
      <select name='monthly_amount_id'>
        <option selected disabled value=''></option>
        <% _.each(opts, function(option) { %>
          <option value=<%= option.id %>><%= option.get('name') %> ($<%= parseFloat(option.get('remaining')).toFixed(2) %>)</option>
        <% }) %>
      </select>
    </div>
  </div>
</script>
