<script type='text/template' id='summary-template'>
  <div class='budget-amount'>
    <div class='left-icon'><i class='fa fa-caret-down' aria-hidden=true></i></div>
    <div class='name'><%= name %></div>
    <div class='label'><span>Budgeted:</span></div>
    <div class='amount editable' data-name='amount' data-value='<%= parseFloat(amount).toFixed(2) %>'>
      $<%= parseFloat(remaining).toFixed(2).replace('-', '') %>
    </div>
  </div>
  <div class='budget-amount summary'>
    <div class='label'>
    <% if (amount < 0) { %>
      Spent:
    <% } else { %>
      Deposited:
    <% } %>
    </div>
    <div class='amount underlined' data-spent='<%= spent %>'>-$<%= parseFloat(Math.abs(spent)).toFixed(2) %></div>
  </div>
  <div class='budget-amount summary'>
    <div class='label'>Remaining:</div>
    <div class='remaining amount' data-remaining=<%= remaining %>>$
      <%= parseFloat(Math.abs(remaining)).toFixed(2) %>
    </div>
  </div>
</script>
