<script type='text/template' id='transaction-form-template'>
  <div class='transaction primary'>
    <div class='left-icon'>
      <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <div class='clearance-date'>
      <input type='text' name='clearance_date' placeholder='clearance date'/>
    </div>
    <div class='description'><input type='text' name='description' placeholder='description'/></div>
    <div class='amount'><input type='text' name='amount' placeholder='$1.23'/></div>
    <div style='width: 50px'></div>
    <div class='budget-items-select'>
      <select name='monthly_amount_id'>
        <option value='' disabled selected></option>
      </select>
    </div>
    <div style='width: 30px'></div>
    <div class='extra-options'>
      <div class='extra-fields'>
        <div>
          <label>Check #</label>
          <input name='check_number' type='text'></input>
        </div>
        <div>
          <label>Notes</label>
          <textarea name='notes'></textarea>
        </div>
        <% if (exclusionEligible) { %>
          <div class='budget-exclusion'>
            <label>Budget Exclusion</label>
            <input type='checkbox' name='budget_exclusion' value='false'/>
          </div>
        <% } %>
        <a class='add-subtransactions'><i class='fa fa-plus-circle' aria-hidden='true'></i>
          add subtransaction
        </a>
      </div>
    </div>
    <button class='submit'>Create Transaction</button>
  </div>
</script>
