<script type='text/template' id='transaction-template'>
  <div class='primary transaction' id='transaction-<%= id %>'>

    <div class='left-icon'>
      <% if (!_.isEmpty(subtransactions_attributes)) { %>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <% } %>
    </div>
    <div class='editable clearance-date' data-name='clearance_date' data-value='<%= clear_date %>'>
      <span><%= clear_date %></span>
    </div>
    <div class='description editable' data-name='description' data-value="<%= description %>">
      <span><%= displayDescription %><span>
    </div>
    <div class='amount<%= _.isEmpty(subtransactions_attributes) ? " editable" : "" %>'
      data-name='amount' data-value='<%= parseFloat(amount).toFixed(2) %>'>
      <span>$<%= parseFloat(amount).toFixed(2) %></span>
    </div>
    <div class='amount'>
      <span class='amount'>$<%= parseFloat(balance).toFixed(2) %></span>
    </div>
    <div class='edit'><i class='fa fa-edit' aria-hidden='true'></i></div>
    <% if (!_.isEmpty(budgetItems)) { %>
      <div class='budget-items' data-name='budget_item_id' data-value='<%= monthly_amount_id %>' data-display-val='<%= budget_item %>'>
        <a class='items'>(<%= budgetItems %>)</a>
      </div>
    <% } else { %>
      <div class='budget-items'><a class='items'><i class='fa fa-list-ul' aria-hidden='true'></a></i></div>
    <% } %>
    <div class='extra-options'>
      <% if (check_number) { %>
        <div class='check_number editable' data-name='check_number' data-value='<%= check_number%>'>
          <span><i class='fa fa-money-check'/> <%= check_number %></span>
        </div>
      <% } %>
      <div class='notes editable' data-name='notes' data-value='<%= notes %>'>
        <span><%= notes %></span>
      </div>
      <% if (budget_exclusion) { %>
        <div class='budget-exclusion' style='padding-top: 3px'>budget exclusion</div>
      <% } %>
    </div>
    <div class='delete-transaction'>
      <a class='clickable delete-transaction'>
        <i class='fa fa-trash' aria-hidden='true'>&nbsp;</i>
      </a>
    </div>
  </div>
</script>
