<script type='text/template' id='detail-template'>
  <div class='budget-amount'>
    <div class='left-side'>
      <div class='left-icon'><i class='fa fa-caret-right' aria-=true></i></div>
      <div class='name'><%= name %></div>
    </div>
    <div class='right-side'>
      <div class='budgeted'>
        <div class='label small-text'>Budgeted:</div>
        <div class='amount editable' data-name='amount' data-value='<%= parseFloat(amount).toFixed(2) %>'>
          $<%= parseFloat(amount).toFixed(2).replace('-', '') %>
        </div>
      </div>
      <div class='spent'>
        <div class='label small-text '>
          <% if (amount < 0) { %>
            Spent:
          <% } else { %>
            Deposited:
          <% } %>
        </div>
        <div class='amount small-text underlined' data-spent=<%= parseFloat(spent) %>>
          -$<%= parseFloat(Math.abs(spent)).toFixed(2) %>
        </div>
      </div>
      <div class='remaining'>
        <div class='label small-text'><span class='hidden'>Remaining:</span></div>
        <div class='amount clickable' data-remaining=<%= remaining %>>
          $<%= parseFloat(Math.abs(remaining)).toFixed(2) %>
        </div>
      </div>
    </div>
    <% if(deletable) { %>
      <div class='trash'><i class='fa fa-trash'></i></div>
    <% } %>
    <div class='detail hidden'>
      <hr/>
      <div class='label'>
        Budgeted Per Day:
      </div>
      <div class='amount'>$<%= parseFloat(Math.abs(budgeted_per_day)).toFixed(2) %></div>
      <br>
      <div class='label'>
        Remaining Per Day:
      </div>
      <div class='amount'>$<%= parseFloat(Math.abs(remaining_per_day)).toFixed(2) %></div>
      <br>
      <div class='label'>
        Remaining Per Week:
      </div>
      <div class='amount'>$<%= parseFloat(Math.abs(remaining_per_week)).toFixed(2) %></div>
    </div>
    <div class='transactions hidden'>
      <div class='budget-amount-transaction'>
        <hr/>
        <div class='clearance-date'>Date</div>
        <div class='account-name'>Account</div>
        <div class='description'>Description</div>
        <div class='amount'>Amount</div>
        <hr/>
      </div>
    </div>
  </div>
</script>
