%html
  %link{ rel: 'stylesheet', type: 'text/css', href: '/public/stylesheets/site.css' }
  %link{ rel: 'stylesheet', href: 'https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity: 'sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ',crossorigin: 'anonymous' }
  %link{ rel: 'stylesheet', type: 'text/css', href: '/public/stylesheets/jquery-ui.theme.css' }
  %link{ rel: 'stylesheet', type: 'text/css', href: '/public/stylesheets/jquery-ui.css' }
  %link{ rel: 'icon', href: '/public/images/favicon.png' }
  %body
    %title My Budget
    - Dir['public/templates/*.html'].each do |f|
      = File.read(f)
    %script{ type: 'text/javascript', src: '/public/vendor/javascript/q.js' }
    %script{ type: 'text/javascript', src: '/public/vendor/javascript/jquery.js' }
    %script{ type: 'text/javascript', src: '/public/vendor/javascript/underscore.js' }
    %script{ type: 'text/javascript', src: '/public/vendor/javascript/backbone.js' }
    %script{ type: 'text/javascript', src: '/public/vendor/javascript/jquery-ui.min.js' }
    - %w(models collections views routers).each do |dir|
      - Dir["public/javascript/#{dir}/*.js"].each do |f|
        %script{ type: 'text/javascript', src: "/#{f}" }
    %script{ type: 'text/javascript', src: '/public/javascript/app.js' }

  .welcome
    %h1 Checkbook &amp; Budget

  %section
    %a{ href: '#accounts' }
      .title.accounts
        %h2 Accounts
    %a{ href: '#budget' }
      .title.budget-items
        %h2 Budget
    .clear-fix
    .pane
      #tab-list
      .clear-fix
      #content
