%html
  %link{ rel: 'stylesheet', type: 'text/css', href: '/public/stylesheets/site.css' }
  %body
    %script#account-template{ type: 'text/template' }= File.read('./public/javascript/templates/account.html')
    %script#transaction-template{ type: 'text/template' }= File.read('./public/javascript/templates/account.html')
    %script{ type: 'text/javascript', src: '/public/javascript/lib/jquery.js' }
    %script{ type: 'text/javascript', src: '/public/javascript/lib/underscore.js' }
    %script{ type: 'text/javascript', src: '/public/javascript/lib/backbone.js' }
    %script{ type: 'text/javascript', src: '/public/javascript/models/account.js' }
    %script{ type: 'text/javascript', src: '/public/javascript/models/budget_amount.js' }
    %script{ type: 'text/javascript', src: '/public/javascript/models/transaction.js' }
    %script{ type: 'text/javascript', src: '/public/javascript/collections/accounts.js' }
    %script{ type: 'text/javascript', src: '/public/javascript/collections/budget_items.js' }
    %script{ type: 'text/javascript', src: '/public/javascript/collections/transactions.js' }
    %script{ type: 'text/javascript', src: '/public/javascript/views/app.js' }
    %script{ type: 'text/javascript', src: '/public/javascript/views/account.js' }
    %script{ type: 'text/javascript', src: '/public/javascript/routers/routes.js' }
    %script{ type: 'text/javascript', src: '/public/javascript/lib/app.js' }

  .welcome
    %h1 Budget App

  %section#accounts
    %h3 Accounts
    %ul#accounts-list

  %section#monthly-amounts
    %h3 Monthly Items
    %ul#monthly-amounts-list

  %section#weekly-amounts
    %h3 Weekly Items
    %ul#weekly-amounts-list
