%html
  %link{ rel: 'stylesheet', type: 'text/css', href: '/public/stylesheets/site.css' }
  %link{ rel: 'stylesheet', type: 'text/css', href: '/public/stylesheets/font-awesome.min.css' }
  %body
    - Dir['public/javascript/templates/*.html'].each do |f|
      = File.read(f)
    %script{ type: 'text/javascript', src: '/public/javascript/lib/jquery.js' }
    %script{ type: 'text/javascript', src: '/public/javascript/lib/underscore.js' }
    %script{ type: 'text/javascript', src: '/public/javascript/lib/backbone.js' }
    - %w(models collections views routers).each do |dir|
      - Dir["public/javascript/#{dir}/*.js"].each do |f|
        %script{ type: 'text/javascript', src: "/#{f}" }
    %script{ type: 'text/javascript', src: '/public/javascript/app.js' }

  .welcome
    %h1 Budget App

  %section#accounts.pane
    %h2
      %a{ href: '#accounts' } Accounts
    %ul#accounts-list

  %section#budget-items.pane
    %h2
      %a{ href: '#budget-items' } Budget Items
    %h3 Monthly Items
    %ul#monthly-amounts-list

    %h3 Weekly Items
    %ul#weekly-amounts-list
